@page
@model BookMark2.Pages.IndexModel
@{
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Personal Book Mark</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/navbars/">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap-4.5.3-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="css/bootstrap-4.5.3-dist/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="css/bootstrap-4.5.3-dist/css/bootstrap-reboot.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="css/StyleSheet.css" rel="stylesheet" />
</head>

<body>

    <header>

        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="index">Personal Book Mark</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="BookMark">Book Mark</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main role="main">
        <img class="img-Home" src="~/img/books.jpg" alt="a lot of books on a shelf"/>
    </main>

    <footer class="footer text-muted bg-dark">
        <div class="container">
            <br>
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>Personal Book Mark &copy; 2020</p>
            <br>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>